body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100dvh;

    background-color: #e4e4e2;
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 2rem;
  font-style: normal;
}

input {
    border: 3px solid black;
    background: none;
    border-radius: 3px;
    font-size: 2rem;
    width: 200px;
    text-align: center;
}

.pattern-buttons {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pattern-buttons > button {
  height: 100px;
  aspect-ratio: 1 / 1;

  border: none;
  cursor: pointer;

  margin: 5px;

  background-color: #424242;
}

body > button {
  font-size: 1.5rem;
  border: 3px solid black;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;

  margin-bottom: 50px;
}

.foundWord {
  background-color: white;
  font-size: 1.5rem;
  padding: 6px 12px;
  margin: 2px;
}