/* GLOBAL RULES  */

:root {
  --outline: #565759;
  --background: #121212;
  --text: #ffffff;

  --green: #528D4D;
  --yellow: #B59F3A;
  --empty: #424242;
}

body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100dvh;

    background-color: var(--background)
}

.aceh {
  font-family: 'Aceh', sans-serif;
  font-optical-sizing: auto;
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* ------------------------------- */

/* RESPONSIVENESS  */

@media screen and (max-height: 800px) {
    .buttons {
        height: 80dvh !important;
    }
}

@media screen and (max-height: 730px) {
    .inputs input {
      font-size: 1.7rem !important;
    }
}

@media screen and (max-height: 650px) {
    .buttons {
        height: 95dvh !important;
    }
}

@media screen and (max-height: 540px) {
    .letterbtn {
      font-size: 2.5rem !important;
    }
}

@media screen and (max-height: 520px) {
    .inputs input {
      font-size: 1.3rem !important;
    }
}

@media screen and (max-height: 470px) {
    .letterbtn {
      font-size: 2rem !important;
    }
}

/* --------------------------------- */

.buttons {
  height: 65dvh;
  aspect-ratio: 5 / 8 ;

  display: grid;
  grid-template-rows: repeat(8, 12.5%);
}

/* TOOLBOX RULES  */

.inputs {
  margin: 3px;
  box-sizing: border-box;
}

.inputs input {
  height: calc(100% - 3px);
  width: 55%;

  text-align: center;

  font-size: 2rem;

  color: white;

  padding: 0px;
  padding-left: 10px;

  background: none;
  border: none;
}

.inputs input:focus {
  outline: none;
}

.inputs button {
  height: calc(100% - 3px);
  float: right;
  width: 40%;

  font-size: 1.5rem;
  color: white;

  background-color: var(--yellow);
  border: none;
  cursor: pointer;
}

/* --------------------------------- */

/* LETTER BUTTON RULES  */

.btnrow {
  display: grid;
  grid-template-columns: repeat(5, 20%);
}

.btn-container {
  padding: 3px;
  box-sizing: border-box;
}

.letterbtn {
  background-color: var(--empty);
  border: none;
  margin: 0px;

  width: 100%;
  height: 100%;

  color: var(--text);

  cursor: pointer;

  font-size: 3rem;
}

/* BUTTON  */

.generate {
  background-color: var(--green);
  border: none;
  margin: 3px;

  color: white;
  font-size: 2rem;
  cursor: pointer;
}